body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #0abdba;
}

.container {
    text-align: center;
    width: 100%;
}

.logo img {
    width: 200px;
}

.search-form {
    position: sticky;
    top: 0;
    background-color: #0abdba; /* Couleur de fond identique à celle de la page */
    padding: 10px;
    z-index: 1000; /* La rendre visible au-dessus des autres éléments */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optionnel : un peu d'ombre pour l'effet visuel */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #0abdba;
    min-height: 100vh; /* S'assure que le body peut défiler */
    display: flex;
    flex-direction: column;
}

.container {
    text-align: center;
    width: 100%;
    padding: 20px; /* Espace autour du contenu */
}

#results {
    margin-top: 100px; /* Ajoute un espace au-dessus des résultats pour éviter qu'ils soient cachés */
    text-align: left;
    width: 80%;
    max-width: 800px;
    overflow-y: auto;
}



.search-form {
    margin-top: 20px;
}

.search-form input[type="text"] {
    width: 80%;
    max-width: 400px;
    padding: 10px;
    font-size: 20px;
    border: 3px solid #dfe1e5;
    border-radius: 24px;
    outline: none;
    transition: all 0.3s ease;
}

.search-form input[type="text"]:focus {
    border-color: #4285f4;
}

.search-form button {
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4285f4;
    color: white;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-form button:hover {
    background-color: #357ae8;
}

#results {
    margin-top: 20px;
    text-align: left;
    width: 80%;
}

.result {
    padding: 10px;
    border-bottom: 1px solid #dfe1e5;
}

.result a {
    text-decoration: none;
    color: #1a0dab;
    font-size: 18px;
}

.result p {
    color: #545454;
}

#loading {
    margin-top: 20px;
    font-size: 18px;
    color: #4285f4;
}
